<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->

 <!--"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->

    <!--<session-factory>-->
        <!--<property name="show_sql">false</property>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</property>-->
        <!--<property name="hibernate.max_fetch_depth">0</property>-->
        <!--<property name="hibernate.jdbc.fetch_size">50</property>-->
        <!--<property name="hibernate.jdbc.batch_size">10</property>-->
		<!--&lt;!&ndash;<property name="hibernate.jndi.weblogic.jndi.replicateBindings">false</property>&ndash;&gt;-->
		<!--&lt;!&ndash;<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>&ndash;&gt;-->

		<!--<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>-->
		<!--<property name="hibernate.connection.url">jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.142.132.94)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.142.132.95)(PORT=1521))(LOAD_BALANCE=no)(FAILOVER=on)(CONNECT_DATA=(SERVICE_NAME=cu3gS)))</property>-->
		<!--<property name="hibernate.connection.username">udpman</property>-->
		<!--<property name="hibernate.connection.password">khdwcqi</property>-->

		<!--&lt;!&ndash; 配置连接池驱动管理类 &ndash;&gt;-->
		<!--<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>-->
		<!--&lt;!&ndash; 配置连接池参数信息 &ndash;&gt;-->
		<!--<property name="hibernate.c3p0.max_size">5</property>	&lt;!&ndash; 最大连接数 &ndash;&gt;-->
		<!--<property name="hibernate.c3p0.min_size">2</property>	&lt;!&ndash; 最小连接数 &ndash;&gt;-->
		<!--<property name="hibernate.c3p0.timeout">5000</property>	&lt;!&ndash; 超时时间 &ndash;&gt;-->
		<!--<property name="hibernate.c3p0.max_statements">100</property>	&lt;!&ndash; 最大执行的命令格个数 &ndash;&gt;-->
		<!--<property name="hibernate.c3p0.idle_test_period">30000</property> &lt;!&ndash; 空闲测试时间 &ndash;&gt;-->
		<!--<property name="hibernate.c3p0.acquire_increment">2</property>	&lt;!&ndash; 连接不够用时,每次增加的个数 &ndash;&gt;-->


		<!--<mapping resource="com/linkage/UDPBusiness/po/UdpOrderInfo.hbm.xml"/>-->
		<!--<mapping resource="com/linkage/UDPBusiness/po/UdpServiceOrderInfo.hbm.xml"/>-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->
